

.additional-item__title {
  .small-text;
  line-height: 16px;
  color: @secondary-color-2;
  text-transform: uppercase;
}

.additional-item__button {
  .small-text;
  line-height: 20px;
  color: @main-color-2;
  text-transform: uppercase;
  background-color: @main-color;
}
