.additional-products {
  background-color: @main-color-2;
  font-weight: 400;
}

.additional-products__title {
  .small-text;
  font-size: 24px;
  line-height: 24px;
  background: #ffffff;
  position: relative;
  display: inline-block;
}

.additioinal-products__wrapper {
  display: grid;
  justify-items: center;

  @media (min-width: @tablet-width) {
    justify-items: stretch;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    gap: 80px;
    grid-template-columns: 3fr 245px;
    padding: 0 110px;
  }
}

.additional-products__promo {
  margin: 0 auto;
  margin-top: 54px;
}
