.additional-products {
  background-color: #ffffff;
  font-weight: 400;
}

.additional-products__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.additioinal-products__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}
