.catalog {
  background-color: @main-color-2;
}

.catalog__title {
  .medium-text;
  padding: 27px 0 41px 0;

  @media (min-width: @tablet-width) {
    padding: 65px 0 163px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {

  }
}

.catalog__wrapper {
  margin: 0 auto;
}

.catalog__main-products-wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
  }

  @media (min-width: @desktop-width) {

  }
}
