.contacts {
  background-color: #ffffff;
  font-weight: 400;
  padding: 26px 20px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(2, 139px);
  justify-content: space-between;
  justify-items: end;

  @media (min-width: @tablet-width) {
    padding: 58px 70px 61px 71px;
    grid-template-columns: repeat(2, 160px);
  }

  @media (min-width: @desktop-width) {
    width: 565px;
    padding: 49px 80px;
  }
}

.contacts__title {
  .small-text;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__description {
  .small-text-2;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    margin-top: -3px;
  }
}

.contacts--catalog {
  background-color: @basic-color;
}
