.contacts {
  background-color: #ffffff;
  font-weight: 400;
  padding: 26px 20px;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 565px;
  }
}

.contacts__title {
  .small-text;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__description {
  .small-text-2;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    list-style: 20px;
  }
}

.contacts--catalog {
  background-color: @basic-color;
}
