.copyright {
  display: flex;
  flex-direction: row;
}

.copyright__link {
  text-decoration: none;
}

.copyright__text {
  .small-text-2;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.copyright__link-logo {
  text-decoration: none;
}

.copyright__logo {
  fill: @secondary-color-3;
}
