.diets-list {
  list-style: none;
  background-color: #ffffff;
  .small-text;
  margin: 0;
  padding: 0;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    flex-direction: row;
  }
}

.diets-list__item {
  background-color: #f2f2f2;
  color: #000000;
  margin: 0;
  padding: 30px 33px 22px 20px;
  position: relative;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 22px;

    width: 50px;
    height: 53px;

    background: no-repeat center url("/img/cat-black-icon.svg");
  }

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 77px 316px 57px 53px;

    &::before {
      top: 61px;
      left: auto;
      right: 0;

      width: 268px;
      height: 200px;

      background: no-repeat center url("/img/cat-black-icon.svg");
      background-size: contain;
    }
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding: 77px 61px 59px 52px;

    &::before {
      top: 41px;
      left: 52px;

      width: 100px;
      height: 106px;

      background: no-repeat center url("/img/cat-black-icon.svg");
      background-size: contain;
    }
  }
}


.diets-list__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 29px;
  margin-left: 71px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.diets-list__description {
  .small-text-2;
  font-size: 14px;
  line-height: 18px;
  color: @secondary-color-2;
  margin: 0;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 27px;
  }
}

.diets-list__link {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
  }
}
