.diets-list {
  list-style: none;
  background-color: #ffffff;
  .small-text;
  margin: 0;
  padding: 0;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    flex-direction: row;
  }
}

.diets-list__item {
  background-color: #f2f2f2;
  color: #000000;
  margin: 0;
  padding: 30px 33px 22px 20px;
  position: relative;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 22px;

    width: 50px;
    height: 53px;
    background: no-repeat center url("/img/slim-cat-icon.svg");
    background-size: contain;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
  }

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 77px 316px 57px 53px;

    &::before {
      top: 81px;
      left: auto;
      right: 92px;
      width: 140px;
      height: 194px;

      background: no-repeat center url("/img/cat-black-icon.svg");
      background-size: contain;
    }

    &::after {
      content: "";
      position: absolute;
      left: auto;
      top: 92px;
      right: 62px;
      width: 200px;
      height: 200px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding: 77px 61px 59px 52px;

    &::before {
      top: 41px;
      left: 67px;

      width: 70px;
      height: 97px;

      background: no-repeat center url("/img/cat-black-icon.svg");
      background-size: contain;
    }

    &::after {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }
}

.diets-list__item--2 {
  &::before {
    background-image: url("/img/icon_pantera.svg");
    width: 67px;
    height: 28px;
    top: 35px;
    left: 13px;
  }

  @media (min-width: @tablet-width) {
    &::before {
      left: auto;
      width: 268px;
      height: 112px;
      top: 135px;
      right: 28px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      width: 134px;
      height: 56px;

      top: 67px;
      left: 33px;
    }
  }
}


.diets-list__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 29px;
  margin-left: 71px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.diets-list__description {
  .small-text-2;
  font-size: 14px;
  line-height: 18px;
  color: @secondary-color-2;
  margin: 0;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 27px;
  }
}

.diets-list__link {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;

  &:active {
    opacity: 30%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    background: url("/img/arrow__catalog.svg") no-repeat center;
    background-size: cover;
    right: -50%;
    top: 25%;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
