.feedback-comment {
  .osw-16-18;

  @media (min-width: @mobile-width-only) {
    width: 320px;
  }

  @media (min-width: @tablet-width) {
    width: 630px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.feedback-comment__legend {
  font-size: 24px;
  line-height: 26px;
}

.feedback-comment__textarea {
  .osw-16-18;
  color: #444444;
  text-transform: uppercase;
}
