.feedback-additionally {
  .osw-16-18;

  @media (min-width: @mobile-width-only) {
    width: 320px;
  }

  @media (min-width: @tablet-width) {
    width: 630px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.feedback-additionally__legend {
  font-size: 24px;
  line-height: 26px;
}

.feedback-additionally__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feedback-additionally__label {
  text-transform: uppercase;
}

.feedback-form__submit {
  line-height: 20px;
  text-transform: uppercase;
  background-color: #68b738;
  color: #ffffff;
}

