.feedback-group {
  .small-text;
  color: @secondary-color;
  padding: 0;
  border: none;
  @media (min-width: @tablet-width) {
  }

  @media (min-width: @desktop-width) {
  }
}

.feedback-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  row-gap: 13px;
  flex-direction: column;

  @media (min-width: @tablet-width) {
  }

  @media (min-width: @desktop-width) {
  }
}

.feedback-group__item {
  display: flex;
  align-items: center;
  gap: 13px;

  @media (min-width: @tablet-width) {
  }

  @media (min-width: @desktop-width) {
  }
}

.feedback-group__input {
  .small-text;
  color: @secondary-color;
  display: block;
  flex-grow: 1;
  min-height: 45px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  padding: 14px 20px 14px 20px;
}
