.feedback-form__wrapper-group {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 280px;
  row-gap: 24px;
  justify-content: center;

  @media (min-width: @tablet-width) {
    grid-template-columns: 630px;
    align-items: center;
    row-gap: 71px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 569px);
    column-gap: 80px;
  }
}

.feedback-form__group {
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    width: 638px;
    margin: 0 auto;
    gap: 72px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0 110px;
    margin: 0 auto;
  }
}

.feedback-form__submit-group {
  width: 280px;
  margin: 0 auto;
  gap: 21px;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    width: 630px;
    gap: 61px;
    grid-template-columns: repeat(2, 282px);
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    grid-template-columns: repeat(2, 586px);
    gap: 81px;
    margin-bottom: 82px;
  }
}

.feedback-form__submit {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: @main-color;
  color: @main-color-2;
  padding: 7px 0;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgb(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    line-height: 26px;
    font-size: 20px;
    padding: 13px 0;
  }
}
