

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  text-decoration: none;
  color: #000000;
}

.main-header {
  background-color: @main-color-2;
  color: #000000;
  .medium-text;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
