.main-features {
  background-color: @main-color-2;
  margin-bottom: 50px;
  padding: 45px 20.5px 50px 20.5px;
}

.main-features__title {
  .medium-text;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
