.main-features {
  background-color: @main-color-2;
  margin-bottom: 53px;
}

.main-features__title {
  .medium-text;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
