.main-nav {
  z-index: 2;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  text-decoration: none;
  color: #000000;

  @media (min-width: @tablet-width) {
    font: 400 18px/24px "Oswald", sans-serif;
  }

  @media (min-width: @desktop-width) {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    text-decoration: none;
    z-index: 1;
  }
}

.main-header {
  background-color: @main-color-2;
  color: #000000;
  .medium-text;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
