.page-main__promo {
  margin: 0 auto;
}

.page-main__wrapper {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 1220px;
  }
}
