.product-item {
  background-color: @main-color-2;
  font-weight: 400;
}

.product-item__title-link {
  text-decoration: none;
  color: @secondary-color-2;
}

.product-item__title {
  .small-text;
  line-height: 20px;
  text-transform: uppercase;
}

.product-item__description {
  .small-text-2;
  color: @secondary-color;
}

.product-item__button.product-item__button--show-more {
  color: @secondary-color;
  background-color: @basic-color;
}
