.product-item-description {
  .small-text-2;
  color: @secondary-color;

  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    width: 100%;
  }
}

.product-item-description dd {
  @media (min-width: @tablet-width) {
    text-align: right;
  }
}
