.product-item {
  background-color: #ffffff;
  font-weight: 400;
}

.product-item__title-link {
  text-decoration: none;
  color: #222222;
}

.product-item__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-item__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-item__button.product-item__button--show-more {
  color: #444444;
  background-color: #f2f2f2;
}
