.promo {
  .small-text;
  color: @main-color-2;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(104, 183, 56, 0.85), 60%, rgba(104, 183, 56, 0.85) 100%), url("/img/index-background-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 300px;
    width: 100%;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(180deg, rgba(104, 183, 56, 0.85), 60%, rgba(104, 183, 56, 0.85) 100%), url("/img/index-background-mobile@2x.png");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }
  }

  @media (min-width: @tablet-width) {
    &::before {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 300px;
  }
}

.promo__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.promo__image {
  display: block;

  @media (min-width: @tablet-width) {
    bottom: 0;
    width: 709px;
    margin-top: -80px;
    order: 4;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 141px;
    right: 310px;
    grid-column: 2/-1;
    width: 552px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 27px;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 420px;
    .big-text;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
  }
}

.promo__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 285px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: @main-color-2;
  background-color: @main-color;
  padding: 7px 44px;
  display: flex;
  justify-content: center;
  z-index: 1;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    grid-row: 3;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
    grid-column: 1/2;
  }
}
