.promo {
  .small-text;
  color: @main-color-2;
  margin-bottom: 20px;
  width: 320px;


  @media (min-width: @tablet-width) {
    position: relative;
    background-color: @main-color-2;
    display: flex;
    flex-direction: column;
    width: 420px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  width: 250px;

  @media (min-width: @tablet-width) {
    width: 420px;
    .big-text;
  }
}

.promo__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  width: 198px;

  @media (min-width: @tablet-width) {
    width: 285px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: @main-color-2;
  background-color: @basic_green;
}
