.social {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 132px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.social__item {
  width: 28px;
}

.social__link {
  text-decoration: none;
  color: #000000;
}
